.m_header .m_log .back a {
  width: 0.7333425rem;
  height: 0.7333425rem;
  background-image: url("../images/icon_bar.png");
  background-size: 220px 132px;
  background-position: -98px -7px;
  position: absolute;
  top: 0.400005rem;
  left: 0.53334rem;
}
.m_header .m_log .left {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.33335rem;
  padding-left: 4.00005rem;
}
[data-dpr='2'] .m_header .m_log .left {
  font-size: 40px;
}
[data-dpr='2.5'] .m_header .m_log .left {
  font-size: 50px;
}
[data-dpr="2.75"] .m_header .m_log .left {
  font-size: 55px;
}
[data-dpr="3"] .m_header .m_log .left {
  font-size: 60px;
}
[data-dpr="4"] .m_header .m_log .left {
  font-size: 80px;
}
.toptitle .title {
  margin: 0.26667rem;
  height: 1.06668rem;
  background-color: #EEEEEE;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #000;
  line-height: 1.06668rem;
  padding-left: 0.400005rem;
}
[data-dpr='2'] .toptitle .title {
  font-size: 32px;
}
[data-dpr='2.5'] .toptitle .title {
  font-size: 40px;
}
[data-dpr="2.75"] .toptitle .title {
  font-size: 44px;
}
[data-dpr="3"] .toptitle .title {
  font-size: 48px;
}
[data-dpr="4"] .toptitle .title {
  font-size: 64px;
}
.toptitle .categoryList {
  margin-top: 0.26667rem;
}
.toptitle .categoryList ul {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.133335rem;
}
.toptitle .categoryList ul li {
  height: 1.06668rem;
  width: 100%;
  border-bottom: 1px solid #ccc;
  line-height: 1.06668rem;
  padding-left: 0.26667rem;
  background-color: #EDEDED;
}
.toptitle .categoryList ul li a {
  display: block;
  width: 100%;
  color: #000;
  font-weight: 600;
  font-size: 15px;
}
[data-dpr='2'] .toptitle .categoryList ul li a {
  font-size: 30px;
}
[data-dpr='2.5'] .toptitle .categoryList ul li a {
  font-size: 38px;
}
[data-dpr="2.75"] .toptitle .categoryList ul li a {
  font-size: 41px;
}
[data-dpr="3"] .toptitle .categoryList ul li a {
  font-size: 45px;
}
[data-dpr="4"] .toptitle .categoryList ul li a {
  font-size: 60px;
}
.footer {
  padding-top: 0;
}
