.m_header {
  height: 1.33335rem;
  position: relative;
}
.m_header .left {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.33335rem;
  padding-left: 4.26672rem;
}
[data-dpr='2'] .m_header .left {
  font-size: 40px;
}
[data-dpr='2.5'] .m_header .left {
  font-size: 50px;
}
[data-dpr="2.75"] .m_header .left {
  font-size: 55px;
}
[data-dpr="3"] .m_header .left {
  font-size: 60px;
}
[data-dpr="4"] .m_header .left {
  font-size: 80px;
}
.m_header .back a {
  width: 0.7333425rem;
  height: 0.7333425rem;
  background-image: url("../images/icon_bar.png");
  background-size: 220px 132px;
  background-position: -98px -7px;
  position: absolute;
  top: 0.320004rem;
  left: 0.53334rem;
}
.coupon {
  width: 100%;
}
.coupon ul li {
  width: 30%;
  margin: 1.6%;
  height: 1.946691rem;
  border: 1px solid #ccc;
  float: left;
  text-align: center;
}
.coupon ul li a {
  display: block;
}
.coupon ul li a img {
  width: 1.33335rem;
  height: 1.33335rem;
  display: inline-block;
  padding-top: 0.106668rem;
}
.coupon ul li a p {
  color: #000;
  font-size: 14px;
}
[data-dpr='2'] .coupon ul li a p {
  font-size: 28px;
}
[data-dpr='2.5'] .coupon ul li a p {
  font-size: 35px;
}
[data-dpr="2.75"] .coupon ul li a p {
  font-size: 39px;
}
[data-dpr="3"] .coupon ul li a p {
  font-size: 42px;
}
[data-dpr="4"] .coupon ul li a p {
  font-size: 56px;
}
